@tailwind base;
@tailwind components;
@tailwind utilities;

.vazir {
    font-family: 'vazir-f' !important;
}

* {
    font-family: 'vazir-f' !important;

}

.scroll-hidden {
    scrollbar-width: none;
}
